<!DOCTYPE html>
<html xmlns:th="http://thymeleft.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>

	<h1 th:text="${title}"></h1>
	
	<div th:if="${users.size() == 0}">No hay usuarios en la lista</div>
	<table th:if="${!users.isEmpty()}">
	<thead>
		<tr>
			<td>firstname</td>
			<td>lastname</td>
			<td>email</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="user: ${users}">
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.email}"></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
	</table>
</body>
</html>